<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PatientManagement</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginVerifyServlet</display-name>
    <servlet-name>LoginVerifyServlet</servlet-name>
    <servlet-class>com.servlet.LoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerifyServlet</servlet-name>
    <url-pattern>/LoginVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDetailsServlet</display-name>
    <servlet-name>SaveDetailsServlet</servlet-name>
    <servlet-class>com.servlet.SaveDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDetailsServlet</servlet-name>
    <url-pattern>/SaveDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPatientDetailsServlet</display-name>
    <servlet-name>GetPatientDetailsServlet</servlet-name>
    <servlet-class>com.servlet.GetPatientDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPatientDetailsServlet</servlet-name>
    <url-pattern>/GetPatientDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientDetailsServlet</display-name>
    <servlet-name>DeletePatientDetailsServlet</servlet-name>
    <servlet-class>com.servlet.DeletePatientDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientDetailsServlet</servlet-name>
    <url-pattern>/DeletePatientDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPatientServlet</display-name>
    <servlet-name>GetPatientServlet</servlet-name>
    <servlet-class>com.servlet.GetPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPatientServlet</servlet-name>
    <url-pattern>/GetPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDetailsServlet</display-name>
    <servlet-name>DeleteDetailsServlet</servlet-name>
    <servlet-class>com.servlet.DeleteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetailsServlet</servlet-name>
    <url-pattern>/DeleteDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetailsServlet</display-name>
    <servlet-name>UpdateDetailsServlet</servlet-name>
    <servlet-class>com.servlet.UpdateDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetailsServlet</servlet-name>
    <url-pattern>/UpdateDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>